body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #e6f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 20px;
}


#gameCard {
  background-color: white;
  border-radius: 20px;
  padding: 32px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #2c7a7b;
  margin-bottom: 20px;
}

#scenarioImage {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 16px;
  border: 1px solid #cde3df;
}

#scenarioText {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

button.red {
  background-color: #d66a6a;
}

button.green {
  background-color: #4caf81;
}

button.next {
  background-color: #2c7a7b;
  margin-top: 10px;
}

button:hover {
  opacity: 0.9;
}

#feedback {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2c3e50;
}
#logoContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

#logo {
  width: auto;
  height: 160px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  transform: scale(1.2);
}
#filterContainer {
  text-align: center;
  margin-bottom: 20px;
}

#categorySelect {
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 10px;
  width: 220px;
  height: 100px;
}

#filterContainer button {
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #2c7a7b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

